table,
.table{
  font-size: 1rem;

  .fit{
    width:1%;
    white-space:nowrap;
  }

  label{
    font-weight: 500;
    text-transform: none;
  }

  .thead{
    background: map-get($colors, 'blue');
    color: map-get($colors, 'white');
  }

  .thead-secondary{
    border: 0;

    th,
    td{
      border: 0;
      color: map-get($colors, 'blue');
      text-align: center;

      &.th-secondary{
        border: 2px solid map-get($colors, 'blue');
        border-bottom: 0;
      }
    }
  }

  th,
  td{
    padding: 0.75rem 1.5rem;
  }

  &.table-striped tbody tr:nth-of-type(odd){
    background: rgba(0,0,0,0.025);
  }
}
