/* Colors */
$color-purple: #3a2d64;
$color-red: #c64e2e;
$color-white: #fff;
$color-black: #444;

/* Fonts */
$font-primary: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
$font-secondary: Helvetica, Arial, sans-serif;

/* Typography */
html,body{
  font: normal 16px/140% $font-secondary;
  color: $color-black;
}

h2,
.h2{
  margin: 0 0 3rem;
  font: 600 1.25rem/125% $font-primary;
  color: $color-red;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3,
.h3{
  font: 600 1rem/125% $font-primary;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p,
.p{
  margin: 0 0 1rem;
}

a{
  text-decoration: underline;

  &.error{
    font-weight: 600;
    color: $color-red;
  }
}

/* Forms */
label,
.label{
  display: block;
  margin: 0 0 0.75rem;
  font: 600 1rem/100% $font-primary;
  letter-spacing: 1px;
}

.form-group{
  margin: 0 0 2rem;
}

.form-check-input{
  margin-top: 0;
}

/* Buttons */
.btn,
button{
  padding: 0.5rem 2rem;
  border-radius: 4px;
  font: 600 1rem/100% $font-primary;
  color: $color-white;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background: $color-purple;
  border-color: $color-purple;

  &:hover{
    background: $color-red;
    border-color: $color-red;
  }
}

/* Notices */
.card{
  max-width: 500px;
  border-width: 2px;

  .card-header{
    font-size: 1.1rem;
    font-weight: 600;
  }

  &.card-error{
    border-color: $color-red;
    color: $color-red;

    .card-header{
      background: #f8d7da;
      border-bottom: 2px solid $color-red;
    }
  }

  &.card-success{
    border-color: green;
    color: green;

    .card-header{
      background: #d4edda;
      border-bottom: 2px solid green;
    }
  }
}

/* Time Table */
.timeslots{
  margin: 0;
  padding: 0;
  list-style: none;

  li{
    margin: 0.5rem 0;

    a{
      display: block;
      position: relative;
      margin-left: -1rem;
      padding: 0.5rem 1rem;
      color: $color-black;
      text-decoration: none;

      &:hover{
        background: lighten(#d4edda, 5%);
      }

      &.active{
        background: #d4edda;
      }
    }
  }
}

.chooseWeek{
  font: 600 1rem/100% $font-primary;
  color: $color-red;

  a{
    color: $color-red;
    text-decoration: none;
  }
}

/* Header */
.header{
  padding: 2rem 0;
  background: $color-purple;
  text-align: center;

  h1{
    font-family: 'Times New Roman', serif;
    text-transform: uppercase;

    .logo-1{
      display: block;
      font-size: 80px;
      line-height: 90%;
      color: $color-white;
      letter-spacing: 1px;
    }

    .logo-2{
      display: block;
      font-size: 24px;
      line-height: 100%;
      color: lighten($color-red, 5%);
      letter-spacing: 2px;
    }
  }
}
